* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
}

#page {
  width: 100vh;
  height: 100vh;
  border: 1px solid red;
}

#result {
  height: 356px;
  width: 100%;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background: linear-gradient(180deg, #7755FF 0%, #2F2CE9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 260px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#result h1{ 
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 130%;
  color: #CAC9FF;
  font-weight: bold;
}

#score {
  width: 140px;
  height: 140px;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  background: linear-gradient(180deg, #4d21c9 0%, #3221C9 68%, #2521C9 100%);
}

#score h1{
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 100%;
  color: white;
  text-align: center;
}

#score h2{
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #CAC9FF;
  text-align: center;
}

#feedback h1{
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 130%;
  color: white;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

#feedback h2{
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #CAC9FF;
  text-align: center;
}

#summary {
  margin: 24px auto 0;
  width: 315px;
  height: 399px;
}

#summary h2{
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #303B59;
  margin-bottom: 24px;
}

.item-reaction{
  display: flex;
  height: 56px;
  align-items: center;
  margin-bottom: 16px;
  background-color: #fff6f6;
}

.reaction-line {
  display: flex;
  width: 283px;
  height: 21px;
  margin: auto;
  align-items: center;
}

.item-info img{
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

#span-reaction {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #FF5555;
  align-items: center;
}

.item-score {
  margin-left: auto;
  padding-right: 16px;
}

.item-memory{
  display: flex;
  height: 56px;
  align-items: center;
  margin-bottom: 16px;
  background-color: #fffbf4;
}

.memory-line {
  display: flex;
  width: 283px;
  height: 21px;
  margin: auto;
  align-items: center;
}

#spam-memory {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #FFB21E;
  align-items: center;
}

.item-verbal{
  display: flex;
  height: 56px;
  align-items: center;
  margin-bottom: 16px;
  background-color: #f2fcf9;
}

.verbal-line {
  display: flex;
  width: 283px;
  height: 21px;
  margin: auto;
  align-items: center;
}

#spam-verbal {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #00BB8F;
  align-items: center;
}

.item-visual{
  display: flex;
  height: 56px;
  align-items: center;
  margin-bottom: 24px;
  background-color: #f3f4fd;
}

.visual-line {
  display: flex;
  width: 283px;
  height: 21px;
  margin: auto;
  align-items: center;
}

#spam-visual {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #1125D6;
  align-items: center;
}

#summary-button {
  height: 56px;
  border-radius: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303B59;
}

#summary-button a {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: bold;
  color: white;
  align-items: center;
}

.item-score{
  color: #303B59;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  opacity: 0.5;
}

strong {
  opacity: 1,0;
}

