* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f3f5f7;
}

#page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#result {
  height: 356px;
  width: 100%;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 260px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#result h1 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 130%;
  color: #cac9ff;
  font-weight: bold;
}

#score {
  width: 140px;
  height: 140px;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  background: linear-gradient(180deg, #4d21c9 0%, #2521c900 100%);
}

#score h1 {
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 100%;
  color: white;
  text-align: center;
}

#score h2 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #cac9ff;
  text-align: center;
}

#feedback h1 {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 130%;
  color: white;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

#feedback h2 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #cac9ff;
  text-align: center;
}

#summary {
  margin: 24px auto 0;
  width: 100%;
  height: 399px;
  padding: 0 30px;
}

#summary h2 {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: bold;
  color: #303b59;
  margin-bottom: 24px;
}

.summary-items {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 17.5px 16px;
  border-radius: 12px;
}

#item-reaction {
  background-color: #fff6f6;
}

.item-info {
  display: flex;
  gap: 16px;
}

.item-info img {
  width: 20px;
  height: 20px;
}

.span-text {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: 500;
  align-items: center;
}

#span-reaction {
  color: #ff5555;
}

#item-memory {
  background-color: #fffbf4;
}

#spam-memory {
  color: #ffb21e;
}

#item-verbal {
  background-color: #f2fcf9;
}

#spam-verbal {
  color: #00bb8f;
}

#item-visual {
  background-color: #f3f4fd;
}

#spam-visual {
  color: #1125d6;
}

#summary-button {
  height: 56px;
  border-radius: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303b59;
}

#summary-button a {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
  font-weight: bold;
  color: white;
  align-items: center;
}

.item-score {
  color: #303b59;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  opacity: 0.5;
}

/* DESKTOP - 768px+ */
@media (min-width: 768px) {
  body {
    padding: 40px 20px;
    background-color: #f3f4fd;
  }

  #page {
    width: 736px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    border-radius: 32px;
  }

  #result {
    height: 512px;
    width: 368px;
    border-radius: 20px;
    padding: 40px 30px;
    justify-content: center;
    border-radius: 32px;
  }

  #result h1 {
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: bold;
    color: #cac9ff;
    align-items: center;
  }

  #card {
    width: 260px;
    height: auto;
  }

  #score {
    width: 200px;
    height: 200px;
    margin: 32px 0;
    border-radius: 100px;
  }

  #score h1 {
    font-size: 64px;
  }

  #feedback h1 {
    font-size: 28px;
  }

  #card-summary {
    width: 288px;
    height: auto;
  }

  #summary {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  #summary h2 {
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .item-reaction,
  .item-memory,
  .item-verbal {
    margin-bottom: 12px;
  }

  .item-visual {
    margin-bottom: 32px;
  }

  #summary-button {
    margin-top: 12px;
  }

  #score h1 {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 100%;
    color: white;
    text-align: center;
  }

  #score h2 {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: bold;
    color: #cac9ff;
    text-align: center;
    opacity: 0.51;
  }

  #feedback h1 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 130%;
    color: white;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold;
  }

  #feedback h2 {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
    color: #cac9ff;
    text-align: center;
  }

  #span-reaction {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
    color: #ff5555;
    align-items: center;
  }

  #spam-memory {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
    color: #ffb21e;
    align-items: center;
  }

  #spam-verbal {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
    color: #00bb8f;
    align-items: center;
  }

  #spam-visual {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
    color: #1125d6;
    align-items: center;
  }

  .item-score {
    font-size: 18px;
  }
}
